*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(backgraund.jpeg);
    background-size: cover;
    background-repeat:no-repeat ;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #e9e6e6;
    
}

.header{
    margin: auto;
    width: 50%;
    list-style:none;
}

.section{
    width: 50%;
    position: static;
    margin-top: 30px;    
    margin-left: 25%;
    cursor: pointer;
}

.footer{
    width: 60%;
    width: 50%;
    position: static;
    margin-top: 30px;    
    margin-left: 25%;

}

/* HEADER ELEMENTS */
.contenedor{
    width: 100%;
    margin: 0 auto;
    padding: 90px;
    
}
.foto-perfil{
    overflow:hidden;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 30px;
    float: left;
    width: 200px;

}

.foto-perfil:hover {-webkit-transform:scale(1.5);
    transform:scale(1.5);
    transition: all 0.5s ease-out;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 30px;
    float: left;
}

h1{
    gap: 0.5rem;
    flex: 1;
    color: #e9e6e6;
    text-shadow: 15px 15px 15px #240461;
    text-decoration: none;
    transition: all 0.5s ease-out;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-right: 1px;
    margin-left: 90px;
}

h1:hover{
    text-shadow:1px 1px 1px #4b4747;
    color: #ffffff;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-right: 1px;
    margin-left: 90px;      
}
.div{
    margin-top: 1px;
    margin-bottom: 10px;
    margin-right: 1px;
    margin-left: 50px;
    font-family: 'Rubik', sans-serif;
    border-radius:22px;

}
.articulo{
    background:linear-gradient(160deg, rgb(24, 75, 240), rgb(24, 75, 240) 40%, rgb(17, 52, 173)98%,rgb(17, 52, 173));
    font-family: 'Rubik', sans-serif;
    border-radius:22px;
}
.ul{
    list-style:none;
}

.li{
    list-style:none;
}
.a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;

}
.text{
    margin-top: 1px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;


}

button{
    display: flex;
    gap: 0.5rem;
    flex: 1;
    background-image: -webkit-linear-gradient(top, #e05b0e, #83360a);
    background-image: -moz-linear-gradient(top,  #e05b0e, #83360a);
    background-image: -o-linear-gradient(top,  #e05b0e, #83360a);
    background-image: linear-gradient(to bottom,  #e05b0e, #83360a);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    box-shadow: 6px 5px 24px #666666;
    font-family: 'Open Sans' ;
    color: #e9e6e6;
    font-size: 20px;
    padding: 19px;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    
}
  
button:hover{
    background-image: -webkit-linear-gradient(top,#83360a,#e05b0e);
    background-image: -moz-linear-gradient(top,#83360a,#e05b0e);
    background-image: -o-linear-gradient(top,#83360a,#e05b0e);
    background-image: linear-gradient(to bottom,#83360a,#e05b0e);
    text-decoration: none;
}

/* HEADER ELEMENTS */

.section1 {
    cursor: pointer;

  }
  .svg{
    border: solid 1px rgb(0, 0, 0);
    width: 7%;
    height: 7%;
}

.section-2{
    background:linear-gradient(160deg, rgb(24, 75, 240), rgb(24, 75, 240) 40%, rgb(17, 52, 173)98%,rgb(17, 52, 173));
    background-size: cover;
    background-repeat:no-repeat ;
    border-radius:22px;
    font-family: 'Rubik', sans-serif;


}
  
.section .section-2 {
    display: none;

}
  
.section.activo .section-2 {
    display: block;
}

/* FOOTER */
.footer{
    width: 50%;
    position: static;
    margin-top: 150px;    
    margin-left: 25%;
    padding-bottom: 50px;

}

  
/* RESPONSIVE */

@media only screen and (max-width:800px) {
    /* For tablets: */
    .header {
      width: 80%;
      padding: 0;
    }
    .section {
        width: 80%;
        padding: 0;
      }
  
    .footer {
      width: 100%;
    }
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .header, .section, .footer {
      width: 100%;
    }
}

/* SCRIPS */
.btn-scrolltop {
	padding:20px;
	background:#06acd1;
	font-size:50px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}
 
.go-top-button {
    width: 0rem;
    height: 0rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
 
.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: 0.2s;
}
 
.show {
    z-index: 10;
}
 
.show .go-top-button {
    animation: popup 1.5s ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 11;
}
 
.show i {
    transform: translate(-50%, -50%) scale(1);
}
 
@keyframes popup {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
}

.wrapper{
    padding-bottom: 100px;

}
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 5px;
  overflow: hidden;
  background: #ffffffd0;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #4267B2;
}

.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color: #000000;
}
.wrapper .button:hover .icon i{
  color: #000000;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
    color: #4267B2;
}